@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;900&display=swap');

:root {
    --primary: #ff0000;
    --news_elements_color: rgb(53, 53, 53);
    --theme_translation_width: 0px;
}

/* Give everything a poppins font family and a smooth scroll behavior and a 0.5s transition */
* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition: 0.5s;
}
::after,::before
{
    transition: 0s;
}
/* Give the html and body tags no padding, no margin, full width and full height */
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}

/* When the cursor hovers over any link make it a pointer */
a {
    cursor: pointer;
}

/* Home */

/* Give the home card div a 40px margin and padding, 375px height, 83px border radius, shadow, display flex and make its items align in a row, hidden overflow, 1s transition  */
.home-card {
    margin: 40px;
    height: 375px;
    border-radius: 83px;
    box-shadow: 0 0 31px 0 #b6b6b640;
    display: flex;
    flex-direction: row;
    padding: 40px;
    overflow: hidden;
    transition: 1s;
}

/* When the home card div is hovered make it's shadow stronger */
.home-card:hover {
    box-shadow: 0 0 45px 7px #b6b6b673;

}

/* Give the image div that has a home card div parent a 38% width, 60px border radius and a 34px margin right */
.home-card .image {
    /* TODO: this color is here until the div gets an image */
    background: var(--primary);
    width: 38%;
    border-radius: 60px;
    margin-right: 34px;
}

/* Give the text div that has a home card div parent a 49% width and a hidden overflow */
.home-card .text {
    width: 49%;
    overflow: hidden;
}

/* Give the p tag that has a text div parent and a home card div grand parent a gray color and a 12px font size */
.home-card .text p {
    color: #A5A5A5;
    font-size: 12px;
}

/* Give the iframe a width of -webkit-fill-available and a 40px margin */
iframe {
    width: -webkit-fill-available;
    margin: 40px;
}

/* Give the news div a gray bg color, full width and height, centered children, hidden overflow */
.news {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* Give the carousel div full width */
.carousel {
    width: 100%;
}

/* Position the carousal indicators div in the the top left corner  */
.carousel-indicators {
    top: 0;
    margin-top: 16px;
    margin-left: 7.5%;
    justify-content: flex-start;
}
/* Give the indicators a 6px width and height and a 6px border-radius and no border and a horizontal margin of 8px  */
.carousel-indicators [data-bs-target] {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    border: 0;
    margin: 0 8px;
    background-color: rgb(68, 68, 68);
}

/* Give the active indicators a 0.5s transition, 30px width, 6px border radius and a gray bg */
.carousel-indicators .active {
    transition: 0.5s;
    width: 30px;
    border-radius: 6px;
    background-color: var(--news_elements_color);

}
.carousel-control-next-icon, .carousel-control-prev-icon
{
    z-index: 1;
}
.carousel-control-prev::before, .carousel-control-next::before
{
    content: '';
    position: absolute;
    background-color: var(--news_elements_color);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: 0;
    cursor: pointer;
}
/* Give the mouse div a 18px margin, 2 z-index, 42px border radius,20px width, 35px height, 3px gray border and position it at the bottom and center its children and if the cursor hovers over it make the cursor a pointer   */
.mouse {
    width: 20px;
    height: 35px;
    border: 3px solid var(--news_elements_color);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 18px;
    border-radius: 42px;
    cursor: pointer;
    z-index: 2;
}
/* Give the wheel div a 5px width, 9px height, 5px margin, gray bg, 20px border radius, mouse_wheel animation */
.wheel {
    width: 5px;
    height: 9px;
    margin: 5px;
    background: var(--news_elements_color);
    border-radius: 20px;
    animation-name: mouse_wheel;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Give the theme div a 40px margin and center its children */
.theme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

/* Give the text div that has a theme div parent a center vertically and align them according to the space betwwen them horizontally */
.theme .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Give h1 that has a text div parent and a theme div grandparent a primary font color and removing its margin */
.theme .text h1 {
    /* color: var(--primary); */
    margin: 0;
}
/* Give the theme a primary font color and a 900 font weight and make the cursor a pointer when it hovers over it */
.theme .text *:nth-child(2)
{
    color: var(--primary);
    font-weight: 900;
    cursor: pointer;
}
/* When the theme is hovered move it 10px up and make its color transparent black */
.theme .text *:nth-child(2):hover
{
    transform: translateY(-10px);
    color: #4e4e4e63;
}
/* Display a translation for the theme that has an absolute position and give it a 30px letter spacing and a 12px font size and hide its overflow and move it down 40px and give it a transparent black color as a font color and give it as width the "theme translation width" variable */
.theme .text *:nth-child(2)::before
{
    transition: 1s;
    content: "Purpose of Life";
    position: absolute;
    letter-spacing: 30px;
    font-size: 12px;
    overflow: hidden;
    transform: translateY(40px);
    color: #4e4e4e63;
    opacity: 0;
    width: var(--theme_translation_width);
}
/* When the theme is hovered make its translation's font color the primary color and make its letter spacing 5px and make its opacity 1 */
.theme .text *:nth-child(2):hover::before
{
    color: var(--primary);
    letter-spacing: 5px;
    opacity: 1;
}
/* Give the sub-timer div full width and align its text and give it a primary font color and a 900 font weight*/
.sub-timer
{
     width : 100%;
     text-align : center;
     color : var(--primary);
     font-weight : 900;
}
/* Give the h3 tags that has a text div parent and a theme div grand parent no margin */
.theme .text h3 {
    margin: 0;
}
/* Give the line div a 13% vertical margin a 1px height and a gray bg */
.line {
    margin: 0 13%;
    background-color: #A5A5A5;
    height: 1px;
}
.home-li
{
    display:none;
}
/* Make the timer's children centered amd give it a primary font color and a bold font weight and 72px font size and align the text at center */
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-weight: bold;
    font-size: 72px;
    text-align: center;
}

/* Center the home-button-container div children and give then a 12px font size and a gray font color */
.home-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #A5A5A5;
}

/* Give the button div that has an home-button-container div parent and the link in it a 289px width, 37px height, 5px padding, 5px top margin, align its children vertically at center and horizontally space-evenly and make when the cursor hovers over it make the cursor a pointer and removing its text decoration and giving it a gray color */
.home-button-container .button,.home-button-container .button a {
    width: 289px;
    height: 37px;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #A5A5A5;

}

/* if the home-button-container and the link in it is hovered change its font color to the primary color */
.home-button-container .button:hover, .home-button-container .button a:hover {
    color: var(--primary);
}

/* Make the nav bar fixed at the top right of the page with a white bg and a 3 zindex and a box shadow and bottom border radius and 80px height */
.nav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 3;
    box-shadow: 0 0 45px 7px #b6b6b673;
    border-radius: 0 0 30px 30px;
    height: 80px;
    right: 0;
    top: 0;
}

/* Align the nav links div children at center vertically and according to the space around its elements horizontally*/
.nav-links-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

/* Give the home buttons' icons 19px font size */
.home-card.button i {
    font-size: 19px;
}

/* Give the nav bar ul no padding, 18px horizontal margin, full width, and center its elements vertically and align them according to the space between them horizontally  */
.ul-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 18px;
    width: 100%;
}

/* Give each nav bar link no text decoration, black font color, full width, center its elements, 12px font size, remove vertical padding */
.nav-link {
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    padding-bottom: 0;
    padding-top: 0;
}

/* set each i tag that has a nav-link parent, display to block and 20px font size  */
.nav-link i {
    display: block;
    font-size: 20px;
}


/* Give the nav bar logo a hidden overflow, 50% border radius */
.nav-link-logo {
    overflow: hidden;
    border-radius: 50%;
}

/* Give the nav bar logo image an 80px width */
.nav-link-logo img {

    width: 80px;
}

/* If nav bar link is hovered, change it color to the primary color */
.nav-link:hover {
    color: var(--primary);
}

/* If the nav bar has the shrink class give it no shadow */
.nav.shrink {
    box-shadow: none;
}

/* If the nav bar has the shrink class give it and its ul child a 350px width, transparent bg and position it in the top right corner */
.nav.shrink,
.nav.shrink .ul-nav {

    width: 350px;
    background-color: transparent;
    top: 0;
    right: 0;
}

/* If the nav bar has the shrink class make its links except the buy ticket link have no padding from the top and a gray font color*/
.nav.shrink .nav-link:not(.ticket) {
    padding-top: 0;
    color: var(--news_elements_color);
}

/* If the nav bar has the shrink class hide the logo-li div, profile-li div, ticket li*/
.nav.shrink .logo-li {
    display: none;
}
.nav.shrink .profile-li {
    display: none;
}
.nav.shrink .ticket-li {
    display: none;
}

/* If the ticket div is hovered make the font color white and sarken the bg color */
.ticket:hover {
    color: white;
    background-color: #d10000;
}

/* Give the ticket div a 143px width, primary color bg, 30px border radius, white font color, display its children in a row, aligning its children horiontally according to the space between them and give it a 800 font weight and a 16px vertical padding and a 9px horizontal padding */
.ticket {
    width: 143px;
    background-color: var(--primary);
    border-radius: 30px;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 800;
    padding: 16px 9px;
}

/* Rotating the ticket icon by 45 deg */
.ticket i {
    transform: rotate(45deg);
}
.news::after
{
    content: '';
    position: absolute;
    background: linear-gradient(0deg,white, transparent);
    width: 100%;
    height: 35%;
    bottom: 0;
}


.carousel-inner
{
    height: 100%;
}
.carousel-item
{
    width: 100%;
    height: 100%;
    /* background-image: attr(--image); */
    background-image: var(--image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.carousel-item.active
{

    display: flex;
    align-items: center;
    justify-content: center;

}
.carousel-item img{
    height: 100%;
}

/* If the screen width is 588px or less */
@media only screen and (max-width: 588px) {

    /* Put the nav bar at the bottom of the page and lgive it a padding of 10px and a border radius of 30px on the bottom border only */
    .nav {
        bottom: 0;
        top: unset;
        padding: 10px;
        border-radius: 30px 30px 0 0;
    }

    /* Give the links that are in the navbar a width of -webkit-fill-available */
    .nav-links-div {
        width: -webkit-fill-available;
    }
    .home-li{
        display: unset;
    }

    /* Hide the logo */
    .logo-li {
        display: none;
    }

    /* Make the nav bar when it has the shrink class and it's ul have a bottom of 0 and top initial to make the animation better  */
    .nav.shrink,
    .nav.shrink .ul-nav {
        bottom: 0;
        top: initial;
    }

    /* Give the nav bar it's initial height and   */
    .nav {
        height: initial;
    }

    /* Give the nav bar that has the shrink class a height of 0 */
    .nav.shrink {
        height: 0;
    }

    /* Give all the children of the nav bar that has the shrink class a font size of 0 */
    .nav.shrink * {
        font-size: 0;
    }

    /* Set the ticket li that has a nav bar with the shrink class as a parent a display flex and a scale of 0 */
    .nav.shrink .ticket-li {
        display: flex;
        transform: scale(0);
    }

    /* Set the ticket li position a value of fixed and positioning it on the top right corner of the screen and give it a margin of 5 px and a width that fits its content and a scale of 1 */
    .ticket-li {
        position: fixed;
        top: 0;
        right: 0;
        width: fit-content;
        height: fit-content;
        transform: scale(1);

    }
    .ticket
    {

        margin: 5px;
        width: fit-content;
        height: fit-content;
        padding: 15px;
    }

    /* Hide the ticket div's children that aren't an i tag */
    .ticket *:not(i) {
        display: none;
    }
}

/* If the screen width is less than 724px */
@media only screen and (max-width: 724px) {

    /* Remove the image */
    .home-card .image {
        width: 0;
        margin-right: 0;
    }

    /* Give the text div that has a home card div as a parent full width */
    .home-card .text {
        width: 100%;
    }
}

/* If the screen width is less than 600px */
@media only screen and (max-width: 600px) {

    /* Make the timer's font size 46px */
    .timer {
        font-size: 46px;
    }
}

/* If the screen width is less than 490px */
@media only screen and (max-width: 490px) {

    /* Give the home-card div a padding of 20px and a horizontal margin of 40px and a border radius of 49px */
    .home-card {
        padding: 20px;
        margin: 40px 0;
        border-radius: 49px;
    }

    /* Give the text div that has a home card div as a parent a smaller font size */
    .home-card .text {
        font-size: smaller;
    }
}

/* If the screen width is less than 411px */
@media only screen and (max-width: 411px) {

    /* Give the h1 that has a text div as a parent and a home card div as a grandparent a font size of 17px */
    .home-card .text h1 {
        font-size: 17px;
    }

    /* Give the p that has a text div as a parent and a home card div as a grandparent a font size of 9px */
    .home-card .text p {
        font-size: 9px;
    }

    /* Give the timer a font size of 29px */
    .timer {
        font-size: 29px;
    }

    /* Give the links in the nav bar a font size of 10px */
    .nav-link {
        font-size: 10px;
        padding: 5px 0;
    }


    /* Give the i tags that have a nav-link list item a font size of 12px */
    .nav-link i {
        font-size: 12px;
    }
    /* Giving the ticket div 13px padding all around to override the nav-link div */
    .ticket
    {
        padding: 13px;
        
    }
    /* Giving the i of the ticket div 16px font size to override the i of nav-link div */
    .ticket i
    {
        font-size: 16px;
    }
}

/* Mouse wheel animation */
@keyframes mouse_wheel {
    0% {
        margin-top: 5px;
    }

    50% {
        margin-top: 15px;
    }

    100% {
        margin-top: 5px;
    }
}





/* Agenda */

/* Making the indicator rim's width fit its contents*/
.indicator-rim
{
    width: fit-content;
}
/* Giving the content div full width and height and centering its elements */
.content
{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* Giving the agenda div full width */
.agenda
{
    width: 100%;
}
/* Giving the speakers div full width and hiding its overflow */
.speakers
{
    width: 100%;
    overflow: hidden;
}
/* Centering the card container's elements */
.card-container
{
    display:flex;
    align-items: center;
    justify-content: center;
}
/* Giving the indicator rim a black bg and border and rounding its edges and giving it a 15px width and centering its elements horizontally and giving it full height */
.indicator-rim {
    background: black;
    border: 2px solid black;
    height: 100%;
    width: 15px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
/* Giving the indicator a gray bg and rounding it's edges and giving it full width */
.indicator{
    background-color: gray;
    border-radius: 6px;
    width: 100%;
}
/* Giving the time indicator a red bg and a 12 z-index and making its position absolute */
.time-indicator
{
    background-color: var(--primary);
    z-index: 12;
    position: absolute;
}
/* Giving the time div a gray color and a 12px font size and an 11px bottom margin */
.time{
    color: #A5A5A5;
    font-size: 12px;
    margin-bottom: 11px;
}
/* Giving the agenda div full height and hiding its overflow */
.agenda
{
    height: 100%;
    overflow: hidden;
}
/* Removing from the h1 that has the agenda div as a parent the margin */
.agenda h1 
{
    margin: 0;
}
.agenda>*, .speakers>*
{
    height: -webkit-fill-available;
    padding: 26px;
}
/* Giving the section indicator div an absolute position and a 20px width and height and giving it a circle shape and centering its elements and giving it an 11px font size and 900 font weight and a white bg and making the cursor when it hovers over it a pointer */
.section-indicator
{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 900;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;
}
/* Giving the cards a max width and height of 444px and making it fill the width available and giving it a 20% margin and a white bg and a shadow and removing its border and centering its elements and giving it a 30% border radius */
.card
{
    max-width: 444px;
    max-height: 444px;
    width: -webkit-fill-available;
    margin: 20%;
    background-color: white;
    box-shadow: 0 0 32px 0 #a5a5a565;
    border: 0;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Giving the speakers' images' a 70px width and height and a circle shape and an image as a bg and a shadow  and a white border and making its position absolute*/
.card .image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 32px 0 #a5a5a565;
    background-image: var(--image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid white;
}
/* Giving the speakers' job titles' a 12px font size and a gray font color */
.card .job-title
{
    font-size: 12px;
    color: #A5A5A5;
}
/* Giving the speakers' names' a 22px font size and a 900 font weight */
.card .text .name
{
    font-size: 22px;
    font-weight: 900;
}
/* Giving the download div a 20px width and height and a circle shape and positioning it on the right bottom corner and giving it a px margin and a 19px padding and a primary color bg and a fixed position and a white font color and making the cursor when it hovers over it a pointer and centering its elements */
.download
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    width: 20px;
    height:20px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 19px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
/* Giving the prev-next div an absolue position and making its width fit its contents and centering its elements horizontally and aligning them vertically according to the space between them and giving it a 108px height and a 45% top value  and positioning it on the right of the screen and giving it a 10px margin*/
.prev-next
{
    position: absolute;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 108px;
    top: 45%;
    right: 0;
    margin: 10px;
}
/* Giving the agenda navigation buttons 50px width and height and centering its children and giving it a red bg and a circle shape and a white font color and making the cursor a pointer when it hovers over it */
.prev-next > *
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
/* Changing the agenda navigation buttons' bg color on hover */
.prev-next > *:hover{
    background-color: #d10000;
}
@media only screen and (max-width: 763px) {
 
    /* Decreasing the speakers' names' and job titles' font sizes  */
    .card .text .name
    {
        font-size: smaller;
    }
    .card .text .job-title
    {
        font-size: smaller;
    }

    /* Giving the cards 5% margin */
    .card
    {
        margin: 5%;
    }
    
}
@media only screen and (max-width: 588px) {
    /* Making the speakers div's position absolute and decrasing its width and scaling it down and position it on bottom right corner of the page */
    .speakers
    {
        position: absolute;
        width: 300px;
        transform: scale(0.7);
        bottom: 0;
        right: 0;
    }
    /* Making the card container divs' heights fit their contents */
    .card-container
    {
        height: fit-content;
    }
    /* Giving the indicator rim 10px left margin */
    .indicator-rim
    {
        margin-left: 10px;
    }
}
@media only screen and (max-width: 588px) {
    /* Setting the download div top value to 60px */
    .download{
        top: 60px;
    }
    
}




/* 404 page*/

/* Set the 404 div font size to 296px and give it full width and 45% of the height and center its elements and give it a 900 font weight and when the cursor hovers above it make it a the cursor a pointer */
._404
{
    font-size: 296px;
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    cursor: pointer;
}

/* Make the japan circle with 250px width and height and give it a red color and 50% border radius */
.japan-circle
{
    width: 250px;
    height: 250px;
    background-color: var(--primary);
    border-radius: 50%;
}
/* Give all the 404 div children -50px margin-left */
._404 > *
{
    margin-left: -50px;
}
/* When any 404 div child  is hovered give it a 10px margin left*/
._404 > *:hover
{
    margin-left: 10px;
}
/* Give the oops div full width and center its elements and give it a 50px margin top and a 900 font weight */
.oops
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-weight: 900;
}
/* Give the mountain div the mounatain image bg image and center it and make it cover the whole div and make its position absolute and give it full width and a 75% height a 54% top and decrease its contrast because of the white body bg*/
.mountain
{
    background-image: url("mountain.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 75%;
    top: 54%;
    filter: contrast(0.7);

}
@media only screen and (max-width: 912px) {
    /* Making the mountain div height 54% and settting the top to 46% */
    .mountain
    {
        height: 54%;
        top: 46%;
    }

}

@media only screen and (max-width: 600px) {
    /* Decreasing the font size of the "404" */
    ._404{
        font-size: 200px;
    }
    /* Decreasing the size of the circle */
    .japan-circle
    {
        width: 150px;
        height: 150px;
    }
}
@media only screen and (max-width: 684px) {
    /* Decreasing the font size of the "404" */
    ._404{
        font-size: 250px;
    }
    /* Decreasing the size of the circle */
    .japan-circle
    {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 550px) {
    /* Decreasing the font size of the "404" */
    ._404{
        font-size: 180px;
    }
    /* Decreasing the size of the circle */
    .japan-circle
    {
        width: 130px;
        height: 130px;
    }
}
@media only screen and (max-width: 450px) {

    /* Increasing the margin left of the 404 div children */
    ._404 > *
    {
        margin-left: -20px;
    }
    /* Anchoring the mounatin to the bottom and making its height 50% and setting the top value to unset */
    .mountain
    {
        bottom: 0;
        top: unset;
        height: 50%;
    }
}
@media only screen and (max-width: 365px) {
    /* Decreasing the font size of the "404" */
    ._404{
        font-size: 150px;
    }
    /* Decreasing the size of the circle */
    .japan-circle
    {
        width: 100px;
        height: 100px;
    }
}


/* Tickets */

/* Giving the title a 30px margin and 800 font weight */
.title{
    font-weight: 800;
    margin: 30px;
}
/* Giving the div that contains the tickets a 15px margin and make its height fit its contents and make it fill the width available */
.tickets
{
    margin: 15px;
    width: -webkit-fit-available;
    height: fit-content;
}
/* Giving the ticket card full width and make its height fit its contents and give it a shadow and a 20px border radius and a white bg and a 32px bottom margin and a 16px padding and make the cursor a pointer when it hovers over it */
.ticket-card
{
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 32px 0 #a5a5a565;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 32px;
    cursor: pointer;
    padding: 16px;
}
/* Give the top part of the ticket full width */
.top
{
    width: 100%;
}
/* Give the middle part of the ticket full width and make its height 0 and hide its overflow */
.middle
{
    width: 100%;
    height: 0;
    overflow: hidden;
}
/* Give the qr code a 300px width */
.middle img
{
    width: 300px;
}
/* Create a circle on the right of the ticket that indicates the ticket is opened or not */
.ticket-card::before
{
    content: "";
    transition: 1s;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: var(--primary);
    right: 30px;
    border-radius: 15px;
}
/* Giving the ticket's title a 25px font size */
.ticket-card-title
{
    font-size: 25px;
}
/* Make the bottom part of the ticket have a gray font color and a 12px font size and align the text to the right and give it full width and a 15px padding */
.ticket-card .bottom
{
    color: #A5A5A5;
    font-size: 12px;
    text-align: right;
    width: 100%;
    padding-top: 15px;
}

/* When the ticket is opened make the circle's width 20 px */
.ticket-card.open::before
{
    width: 20px;
}

@media only screen and (max-width: 393px)
{
    /* Giving the qr code full width */
    .middle img{
        width: 100%;
    }
}







